@charset "utf-8";
/* CSS Document */
body{
	align-items: center;
	justify-content: center;
	padding: 60px;
	
}
.form-signin{
	margin: 0 auto;
	width: 100%;
	max-width: 400px
	
}
.checkbox{
	padding-top: 15px;
	padding-bottom: 5px;
	font-weight: 220px;
}
.icon{padding: 3px
}

	


